.idea
.vs
Binaries
Build
Content
DerivedDataCache
Intermediate
Plugins
Releases
Saved
.vsconfig
FriendsJourney.sln
FriendsJourney.slnx
Automation_FriendsJourney.sln
Automation_FriendsJourney.slnx
FriendsJourney.sln.DotSettings.user
