.idea
.vs
Binaries
Build
DerivedDataCache
Intermediate
Releases
Saved
Mods
.vsconfig
FriendsJourney.sln
FriendsJourney.slnx
Automation_FriendsJourney.sln
Automation_FriendsJourney.slnx
FriendsJourney.sln.DotSettings.user
